<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/test-roskvartal.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
</head>
<body ng-app="test-roskvartal">
  <!-- Navbar -->
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-menu" scroll ng-class="{colored:navbarColorToggle}">
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            <a class="logo pull-left"href="https://roskvartal.ru/"></a>
            <div class="navbar-products">
              <a id="products" class="pull-left" data-toggle="dropdown">Школа ЖКХ<i class="fa fa-fw fa-angle-down"></i></a>
              <ul class="dropdown-menu" ng-controller="ProductsController">
                <div class="triangle">
                  <div class="rhombus"></div>
                </div>
                <li ng-repeat="product in products">
                  <a href="#">
                    <div class="col-xs-4">
                      <div class="pic">
                      </div>
                    </div>
                    <div class="col-xs-8">
                      <div class="desc">
                        <h5>{{ product.name }}</h5>
                        <span>{{ product.desc }}</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-7">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Курсы</a></li>
              <li><a href="#">Учащиеся</a></li>
              <li><a href="#">Отзывы</a></li>
              <li><a href="#">Подписка</a></li>
              <li><a href="#">Профиль</a></li>
              <li><a id="phone" href="#">8-800-555-35-35</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!---->
  <!-- Cover -->
  <div class="cover">
    <div class="container title" ng-controller="MainController">
      <div class="text-center">
        <span class="badge">Курс</span>
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
  <!---->
  <!-- Quiz -->
  <div  ng-controller="quizController">
    <div class="container">
      <div class="col-xs-2">
        <span class="badge-big">+{{ question.cost }} баллов</span>
        <span id="description">Тест считается сданным, если вы не допустили ни одной ошибки.<br><br>Ваш текущий баланс баллов: <b>{{ points }}</b>
        </span>
      </div>

      <div class="col-xs-8">
        <div class="quiz">
          <h2>Тестирование по курсу</h2>
          <div class="quiz-container">
            <div class="questions-block">
              <ul ng-repeat="q in questions track by $index">
                <li ng-click="getQuestion($index)" ng-class="(($index === active) ? 'question-active' : '') + ' ' + ((answers[$index]) ? 'answered' : '')" class="isfalse">{{$index + 1}}.</li>
              </ul>
            </div>
            <div class="task">
              <div class="task-container">
                <span>{{ question.question }}</span>
                <div ng-class="(question.pics) ? 'quiz-variants-image' : 'quiz-variants'">
                  <div ng-class="(question.pics) ? 'choice-image' : 'choice'"  ng-repeat="option in question.options track by $index">
                    <input type="radio" name="answer" id="my_radio_button_{{ $index }}" value="{{ $index }}" />
                    <label for="my_radio_button_{{ $index }}">
                      <span class="button-radio"></span>
                      <span class="button-radio-content">{{ option }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="quiz-buttons">
            <button class="button button-hint" ng-click="hintShow()">Подсказка</button>
            <button class="button button-next" ng-click="getNext()">Следующий</button>
          </div>
        </div>
        <div class="hint" ng-show="hintShown">
          <div class="hint-button">
            <button class="button button-hint-close" ng-click="hintClose()">скрыть</button>
          </div>
          <div class="hint-text">{{ question.hint }}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer-cover">
    <footer>
      <div class="empty">
      </div>
      <div class="gradient">
        <div class="container">
          <div class="col-xs-3">
            <a class="logo pull-left footer-logo" href="https://roskvartal.ru/"></a>
          </div>
          <div class="col-xs-offset-1 col-xs-8">
            <!-- Headers -->
            <div class="row">
              <div class="col-xs-4">
                <h5>Компания</h5>
              </div>
              <div class="col-xs-4">
                <h5>Услуги</h5>
              </div>
              <div class="col-xs-4">
                <h5>Блог</h5>
              </div>
            </div>
            <!---->
            <!-- Links -->
            <div class="row">
              <div class="col-xs-4">
                <ul class="links">
                  <li><a href="#">О нас</a></li>
                  <li><a href="#">Команда</a></li>
                  <li><a href="#">Работа у нас</a></li>
                  <li><a href="#">Официальные документы</a></li>
                </ul>
              </div>
              <div class="col-xs-4">
                <ul class="links">
                  <li><a href="#">ГИС ЖКХ</a></li>
                  <li><a href="#">Юридическая поддержка</a></li>
                  <li><a href="#">Сайт для УК</a></li>
                  <li><a href="#">Обучение</a></li>
                  <li><a href="#">Лицензирование УК</a></li>
                </ul>
              </div>
              <div class="col-xs-4">
                <ul class="links">
                  <li><a href="#">Свежие статьи</a></li>
                  <li><a href="#">ГИС ЖКХ</a></li>
                  <li><a href="#">Раскрытие информации</a></li>
                  <li><a href="#">Лицензирование</a></li>
                  <li><a href="#">Вебинары</a></li>
                </ul>
              </div>
            </div>
            <!---->
          </div>
        </div>
      </div>
      <div class="bar">
        <div class="bar-container">
          <div class="col-xs-3">
            <a class="link-icon vk" href="#"></a>
            <a class="link-icon facebook" href="#"></a>
            <a class="link-icon youtube" href="#"></a>
            <a class="link-icon instagram" href="#"></a>
          </div>
          <div class="col-xs-2">
            Наша почта:
            <span class="mail">mail@roskvartal.ru</span>
          </div>
          <div class="col-xs-2">
            <span class="pull-right call-desc">Бесплатный звонок по территории России</span>
          </div>
          <div class="col-xs-3">
            <span class="phone pull-right">8-800-555-35-35</span>
          </div>
          <div class="col-xs-2">
            <button class="button button-call pull-right">Заказать звонок</button>
          </div>
        </div>
      </div>
    </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
